Coursera/DeepLearning/LRinNN/.idea/LRinNN.iml
Coursera/DeepLearning/LRinNN/.idea/misc.xml
Coursera/DeepLearning/LRinNN/.idea/modules.xml
Coursera/DeepLearning/LRinNN/.idea/workspace.xml
Coursera/DeepLearning/LRinNN/.idea/inspectionProfiles/profiles_settings.xml
Model/.idea/misc.xml
Model/.idea/Model.iml
Model/.idea/modules.xml
Model/.idea/workspace.xml
Model/.idea/inspectionProfiles/profiles_settings.xml
