Coursera/DeepLearning/LRinNN/.idea/LRinNN.iml
Coursera/DeepLearning/LRinNN/.idea/misc.xml
Coursera/DeepLearning/LRinNN/.idea/modules.xml
Coursera/DeepLearning/LRinNN/.idea/workspace.xml
Coursera/DeepLearning/LRinNN/.idea/inspectionProfiles/profiles_settings.xml
